<section class="about">
    <div class="container">
        <p class="about__label">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>

        <div class="about__list-wrap">
            <ul class="about__list">
                <li>
                    <p class="about__item about__first-item">Ice is a place where you will become not only a little
                        happier, but also healthier. Health is the main value for us, and
                        we follow it when creating our handmade desserts.</p>
                </li>
                <li>
                    <p class="about__item about__second-item">We use traditional recipes and 100% natural ingredients.
                        Our products are so natural that they can be given to children
                        from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee
                        and 23 milkshakes.
                    </p>
                </li>
                <li>
                    <p class="about__item about__last-item">This is enough to choose ice cream and coffee for any mood!
                    </p>
                </li>
            </ul>
            <button type="button" class="about__button button">Read more >
            </button>
        </div>
    </div>
</section>
