<section class="contacts">
  <div class="container contacts__container" id="contact">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <ul class="contacts__card-list">
      <li class="contacts__card">
        <p class="contacts__cafe-type">CAFE</p>
        <address class="contacts__address">
          <span class="contacts__address-part">Chicago</span>
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </address>
        <p class="contacts__working-days">Monday - Friday</p>
        <p class="contacts__working-hours">06:00 AM - 10:00 PM</p>
        <p class="contacts__working-days">Saturday - Sunday</p>
        <p class="contacts__working-hours">08:00 AM - 16:00 PM</p>
        <a class="contacts__link contacts__tel-link" href="tel:+610383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contacts__link" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts__card">
        <p class="contacts__cafe-type">FOOD TRUCK</p>
        <address class="contacts__address">
          <span class="contacts__address-part">Los Angeles</span>
          1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
        </address>
        <p class="contacts__working-days">Monday - Friday</p>
        <p class="contacts__working-hours">06:00 AM - 10:00 PM</p>
        <p class="contacts__working-days">Saturday - Sunday</p>
        <p class="contacts__working-hours">08:00 AM - 16:00 PM</p>
        <a class="contacts__link contacts__tel-link" href="tel:+610383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contacts__link" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts__card">
        <p class="contacts__cafe-type">CAFE</p>
        <address class="contacts__address">
          <span class="contacts__address-part">New York</span>
          726 Sterling Pl, Brooklyn, NY 11222, USA
        </address>
        <p class="contacts__working-days">Monday - Friday</p>
        <p class="contacts__working-hours">06:00 AM - 10:00 PM</p>
        <p class="contacts__working-days">Saturday - Sunday</p>
        <p class="contacts__working-hours">08:00 AM - 16:00 PM</p>
        <a class="contacts__link contacts__tel-link" href="tel:+610383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contacts__link" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <div class="contacts__buttons-wrap">
      <button class="contacts__button contacts__button--yellow">
        Our Locations
        <svg class="contacts__button-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-button-arrow"></use>
        </svg>
      </button>
      <button class="contacts__button">
        Franchise
        <svg class="contacts__button-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-button-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
