<header id="home">

<section class="container">
<button
          class="menu-toggle js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg width="20px" height="12px">
            <use href="./images/header.svg#icon-mobile-menu"></use>
          </svg>
        </button> 
    <div>
        <a href="" class="logo">
            <img src="./images/header/logo.png" 
            alt="Логотип">                  
        </a>
<ul class="header__list">
    <li class="header__item">
        <a href="#home" class="header__link">Home</a>
        </li>
    <li class="header__item">
        <a href="#howmade" class="header__link">How it’s made?</a>
    </li>
    <li class="header_item">
        <a href="#ourproducts" class="header__link">Our products</a>
    </li>
    <li class="header_item">
        <a href="#contact" class="header__link">Contact</a>
    </li>
</ul>
<button class="header__button">
Buy now >
</button>
        </div>
        </section>
        
    <div class="hero">
    <div>
    <ul>
        <li>
        <p><span>16</span> cafes</p>
        </li>
        <li>
        <p> <span>23</span> food trucks</p>
        </li>
    </ul>
</div> 
        <h1>ice cream made with passion</h1>
        <button class="hero__button">
        Products
</button>
<a href="#howmade" class="hero__link">How it’s made?</a>
<div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
</div>
</div>




<!-- burger menu -->

<div class="menu-container js-menu-container" id="mobile-menu">
      <button class="mobile-menu__close js-close-menu">
        <svg class="mobile-menu__close-icon" width="19px" height="19px">
          <use href="./images/header.svg#icon-mobile-menu-close"></use>
        </svg>
      </button>
      <ul class="list mobile-nav__list">
        <li>
          <a href="#" class="mobile-nav__link ">Home</a>
        </li>
        <li>
          <a href="#" class="mobile-nav__link">How it’s made?</a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="mobile-nav__link">Our products</a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="mobile-nav__link">Contact</a>
        </li>
      </ul>

  <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
      integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
      crossorigin="anonymous"
    ></script>
    <script src="../js/mobile-menu.js"></script>
    </header>
