<section class="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__content products__content--icecream">
          <span class="products__item-wrap products__item-wrap--icecream"></span>
          <h3 class="products__text">ice cream</h3>
          <p class="products__description products__description--icecream">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <div class="products__button">
            <button type="button" class="products__btn products__btn--icecream"></button>
            
          </div>
        </div>
      </li>
      <li class="products__item">
        <div class="products__content products__content--icecoffee">
          <span class="products__item-wrap products__item-wrap--icecoffee"></span>
          <h3 class="products__text">ice coffee</h3>
          <p class="products__description products__description--icecoffee">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <div class="products__button">
            <button type="button" class="products__btn products__btn--icecoffee"></button>
            
          </div>
        </div>
      </li>
      <li class="products__item">
        <div class="products__content products__content--milkshake">
          <span class="products__item-wrap products__item-wrap--milkshake"></span>
          <h3 class="products__text">milkshakes</h3>
          <p class="products__description products__description--milkshake">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <div class="products__button">
            <button type="button" class="products__btn products__btn--milkshake"></button>
          
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
