<div class="backdrop-products backdrop-products--is-hidden" data-modal-icecream>
  <div class="modal-products modal--icecream">
    <button class="modal-close-btn" type="button" data-modal-icecream-close>
      <svg class="modal-close-btn__icon" width="14" height="14">
        <use href="./images/header.svg#icon-closeblack"></use>
      </svg>
    </button>
      <p class="modal-products__title">Chololate 
icecream</p>
<div class="modal-products__img-wrap"></div>
<ul class="modal-products__list">
    <li class="modal-products__item"></li>
    <li class="modal-products__item"></li>
    <li class="modal-products__item"></li>
    <li class="modal-products__item"></li>
</ul>
<div class="modal-products__description">
Ingredients
</div>
<form action="" class="modal-products__form">
    <ul class="modal-products__form-list">
        <li class="modal-products__form-item">
            <label for="name" class="form__label"
                >
                <input
                  type="text"
                  class="form__input"
                  name="Name"
                  id="name"
                  placeholder="" />
                </li>
        <li class="modal-products__form-item">
            <label for="phone" class="form__label"></label>
              <input
                type="tel"
                class="form__input"
                name="Phone"
                id="phone"
                placeholder=""
              />
        </li>
        <li class="modal-products__form-item">
            <label for="text" class="form__label"></label>
              <textarea
                name="text"
                id="text"
                placeholder="Comment"
                class="form__input form__input--text"
              ></textarea>
        </li>
    </ul>
    <button class="form__button" type="button">Submit</button>
</form>
  </div>
</div>
