.products {
  padding-top: 60px;
  margin-bottom: 60px;
  background-color: $pureWhiteColor;
  background-size: cover;
  background-repeat: repeat-y;
  background-image: url(../images/products/background-s-@1x.png);
  @include retina {
      background-image: url(../images/products/background-s-@2x.png);
    }

  @media screen and (min-width: $tablet) {
    background-image: url(..//images/products/background-m-@1x.png);
    
    @include retina {
      background-image: url(..//images/products/background-m-@2x.png);
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url(..//images/products/background-l-@1x.png);
    
    @include retina {
      background-image: url(..//images/products/background-l-@2x.png);
    }
  }
}

.products__label {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.21;
  text-align: center;
  text-transform: uppercase;
  color: $secondaryColorText;
  margin-bottom: 12px;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}

.products__title {
  font-family: 'Seymour One';
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: $secondaryColorText;
  margin-bottom: 148px;

  @media screen and (min-width: $tablet) {
    font-size: 34px;
    margin-bottom: 200px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    letter-spacing: 0.06em;
    line-height: 1.13;
    margin-bottom: 303px;
  }
}

.products__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  @media screen and (min-width: $desktop) {
    gap: 32px;
  }
}

.products__item-wrap {
  width: 200px;
  height: 199px;
  left: 40px;
  top: -97px;
  border-radius: 50%;
  position: absolute;
  display: block;

  @media screen and (min-width: $tablet) {
    width: 224px;
    height: 428px;
    left: 12px;
    top: -108px;
  }

  @media screen and (min-width: $desktop) {
    width: 370px;
    height: 535px;
    left: 34px;
    top: -166px;
  }

  &:nth-child(1) {
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  }

  &:nth-child(2) {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  }

  &:nth-child(3) {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  }
}

.products__item {
  width: 280px;
  height: 100%;
  padding-top: 123px;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 24px;

  @media screen and (min-width: $tablet) {
    width: 224px;
    height: 428px;
    flex-basis: calc((100% - 48px) / 3);
    padding-top: 107px;
  }

  @media screen and (min-width: $desktop) {
    width: 370px;
    height: 535px;
    flex-basis: calc((100% - 96px) / 3);
    padding-top: 166px;
  }

  &:nth-child(1) {
    background-color: $firstCardColor;
    margin-bottom: 164px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0px;
    }

    &::before {
      content: '';
      background-image: url(..//images/products/products_1s@1x.png);
      width: 200px;
      height: 199px;
      background-size: cover;
      position: absolute;
      top: -108px;
      display: block;
      z-index: 2;
      @include retina {
        background-image: url(..//images/products/products_1s@2x.png);
      }

      @media screen and (min-width: $tablet) {
        width: 199px;
        height: 196px;
        top: -120px;
        background-image: url(..//images/products/products_1m@1x.png);
        @include retina {
          background-image: url(..//images/products/products_1m@2x.png);
        }
      }

      @media screen and (min-width: $desktop) {
        width: 301px;
        height: 300px;
        top: -183px;
        background-image: url(..//images/products/products_1l@1x.png);
        @include retina {
          background-image: url(..//images/products/products_1l@2x.png);
        }
      }
    }
  }

  &:nth-child(2) {
    background-color: $secondCardColor;
    margin-bottom: 164px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0px;
    }

    &::before {
      content: '';
      background-image: url(..//images/products/products_2s@1x.png);
      width: 200px;
      height: 199px;
      background-size: cover;
      position: absolute;
      top: -108px;
      z-index: 2;
      @include retina {
        background-image: url(..//images/products/products_2s@2x.png);
      }

      @media screen and (min-width: $tablet) {
        width: 199px;
        height: 196px;
        top: -120px;
        background-image: url(..//images/products/products_2m@1x.png);
        @include retina {
          background-image: url(..//images/products/products_2m@2x.png);
        }
      }

      @media screen and (min-width: $desktop) {
        width: 301px;
        height: 300px;
        top: -183px;
        background-image: url(..//images/products/products_2l@1x.png);
        @include retina {
          background-image: url(..//images/products/products_2l@2x.png);
        }
      }
    }
  }

  &:nth-child(3) {
    background-color: $thirdCardColor;
    // margin-bottom: 60px;

    // @media screen and (min-width: $tablet) {
    //   margin-bottom: 0px;
    // }

    &::before {
      content: '';
      background-image: url(..//images/products/products_3s@1x.png);
      width: 200px;
      height: 199px;
      background-size: cover;
      position: absolute;
      top: -108px;
      z-index: 2;
      @include retina {
        background-image: url(..//images/products/products_3s@2x.png);
      }

      @media screen and (min-width: $tablet) {
        width: 199px;
        height: 196px;
        top: -120px;
        background-image: url(..//images/products/products_3m@1x.png);
        @include retina {
          background-image: url(..//images/products/products_3m@2x.png);
        }
      }

      @media screen and (min-width: $desktop) {
        width: 301px;
        height: 300px;
        top: -183px;
        background-image: url(..//images/products/products_3l@1x.png);
        @include retina {
          background-image: url(..//images/products/products_3l@2x.png);
        }
      }
    }
  }
}

.products__text {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: $secondaryColorText;
  margin-top: 20px;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
    line-height: 1.22;
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.23;
    margin-top: 30px;
  }
}

.products__description {
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 176%;
  text-align: center;
  color: $secondaryColorText;
  margin: 40px 40px 90px;

  @media screen and (min-width: $tablet) {
    margin: 40px 26px 90px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    margin: 65px 62px 60px;
  }

  &:nth-child(2) {
    @media screen and (min-width: $tablet) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 70px;
    }
  }

  &:nth-child(3) {
    @media screen and (min-width: $tablet) {
      margin-bottom: 83px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 66px;
    }
  }
}

.products__button {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0) rotate(0);
  transition: background-color $timeDuration;

  &:active {
    transform: translateY(-20px) translateX(20px) rotate(270deg);
    @media screen and (min-width: $desktop) {
      transform: translateY(-30px) translateX(30px) rotate(270deg);
    }
  }

  // ___js___

  // &.active {
  //   &__cream,
  //   &__coffee,
  //   &__milkshakes {
  //     transform: translateY(-20px) translateX(20px) rotate(270deg);

  //     @media screen and (min-width: 1200px) {
  //       transform: translateY(-30px) translateX(30px) rotate(270deg);
  //     }
  //   }
  // }
}

.products__btn {
  width: 40px;
  border: none;
  background-color: transparent;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color $timeDuration;

  &:active,
  &:hover,
  &:focus {
    color: $acentColor;
  }

  &::before {
    content: '\279C';
    color: $secondaryColorText;
    transform: rotate(0);
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 60px;
  }
}
